
@mixin generate-column($i,$suffix:"") {
  .#{$columnName}-#{$i}#{$suffix} {
    width:#{$i}#{%}!important;
  }
  .#{$columnName}-#{$i}#{$suffix}-no_important {
    width:#{$i}#{%};
  }
}

@mixin generate-hide($suffix:"") {
  .hide#{$suffix} {
     display: none !important;
  }
}

@mixin generate-show($suffix:"") {
  .show#{$suffix} {
     display: block !important;
  }
  .show#{$suffix}-inline_block {
     display: inline-block !important;
  }
}


@mixin generate-all-column($suffix:"") {
  @include generate-column-exception(100/6,"16_66",$suffix);
  @include generate-column-exception(100/3,"33_33",$suffix);
  @include generate-column-exception(100*2/3,"66_66",$suffix);
  @include generate-hide($suffix);
  @include generate-show($suffix);
  @for $i from 1 through 100 {
    @include generate-column($i,$suffix);
  }
}

@mixin generate-break($break, $breakName) {
  @media screen and (max-width:#{$break}px){
    @include generate-all-column("-#{$breakName}");
  }
}

.#{$globalWrapperName} {
  max-width: #{$globalWrapperWidth};
  margin: 0 auto;
}

@include generate-all-column();

@each $current-break, $breakName in $all-break {
  @include generate-break($current-break,$breakName);
}

